body {
    padding: 20px;
    margin: 0;
    color: #191923 !important;
    background-color: #f59b42 !important;
    justify-content: center !important;
}

article {
    margin-bottom: 20px;
    width: 100% !important;
}
.code-div{
    background-color: #191923 !important;
border-radius: 5px;
}

code {
    color: #eaf0ce !important;
    padding: 5px;
}
